  @import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&family=Bungee+Spice&family=Courgette&family=Lemon&display=swap');

h1 {
    font-family: fantasy;
    color: #f18a9b;
}
h2, h3{
    text-align: center;
}

h5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    color:#f18a9b;
    background-color: #ffff9d;
}

a{
    color: #8bffff; 
    font-weight: bold;
}

ul {
    font-family: "Archivo Black", sans-serif;
    color:#ffff9d ;
    font-size: large;
}

th {
    font-family: 'Courgette', cursive;
}

.navbar-nav {
    background-color: #a26ea1;
    font-family: 'Lemon';
}

.navbar-brand{
    background-color: #ffff9d;
    font-family: 'Lemon';
}

.container-fluid{
    background-color: #a26ea1;
}

.carousel{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: aquamarine;
    background-color: #ffb480;
}

.carousel-inner img {

    margin: 0 auto;
}

.card{

    background-color:#82acff;

}